# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Enviromments
.venv/
venv/
env/

# Enviromment variables
.env
.env.*
!.env.example

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Type Checkers / Linters
.mypy_cache/
.pyright/
.ruff_cache/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build / distribution
build/
dist/
*.egg-info/

# Node
node_modules/